body{
    background-color: antiquewhite;
}
h1{
    background-color: burlywood;
}

#tab0{
    background-color: chartreuse;
}

#tab1{
    background-color: blue;
}
#tab2{
    background-color: brown;
}